<h2 mat-dialog-title class="has-close-icon">
   Release Notes
   <button mat-button class="icon-button" matTooltip="Close" mat-dialog-close>
      <mat-icon>close</mat-icon>
   </button>
</h2>
<mat-dialog-content class="mat-typography app-content-wrapper">
   <div>
      <p class="mt-2">
         Published on <strong>06/27/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Manage Roles</li>
         <li>Add Roles</li>
         <li>Roles Details </li>
         <li>Edit Roles</li>
         <li>Manage Users </li>
         <li>Add Users</li>
         <li>User Details</li>
         <li>Edit User Modal</li>
         <li>Users Activities</li>
         <li>Repository Details</li>
         <li>Repository Users - Repository Users</li>
         <li>Repository Users - Other Users</li>
         <li>Repository User Access Modal</li>
         <li>Font Changed</li>
         <li>Set as Default added for Metadata Templates</li>

      </ul>
      <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/722b6eb95b26117d94f774b51dd4e097bcf6f705"
         target="_blank">View Commit Details in Github</a>
   </div>
   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>06/13/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Updated Left Navigation</li>
         <li>Metatdata Template Changes</li>
         <li>Company Info Changes - Modal Page & Setting page</li>
         <li>Folder and File changes</li>
         <li>Updated Tags</li>
         <li>Updates in Modal</li>
      </ul>
      <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/62e9ea0046eefa3c368e30fb5c5f4c660b27a42b"
         target="_blank">View Commit Details in Github</a>
   </div>
   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>06/06/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Shared</li>
         <li>Trash</li>
         <li>User Access Modal</li>
         <li>Configure Columns Modal</li>
         <li>Configure Display Order of Repositories Modal</li>
         <li>Related Files Modal</li>
         <li>Shared Documents</li>
      </ul>
      <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/1cc865deb9d4723942ba22cca822bba242aad2b5"
         target="_blank">View Commit Details in Github</a>
   </div>
   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>05/29/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>New metadata template flow (Tenant admin)</li>
         <li>Favorites</li>
         <li>Company Info</li>
         <li>Settings page</li>
         <li>Recent files</li>
         <li>Shared (popup)</li>
      </ul>
      <!-- <a class="mt-5"
         href=" https://github.com/scout-qualapps/qdoc-dms-ui/commit/09e787a6cf997e1a7189f7e731f10c93e3457518"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>05/21/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Messages</li>
         <li>Terms</li>
         <li>Contact</li>
      </ul>
      <!-- <a class="mt-5"
         href=" https://github.com/scout-qualapps/qdoc-dms-ui/commit/7979d9e9980ca6bb98d7cf3fbeb640c6d05f6fa3"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>05/07/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Popup Integration</li>
         <li>Forgot Password</li>
         <li>Change Password</li>
         <li>Profile</li>
      </ul>
      <!-- <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/55f5bd84783d62321516087800ece36a6f2ffaa0"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>04/30/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Move/Copy (Popup)</li>
         <li>Edit File & Repo Properties (Popup)</li>
         <li>Associate Metadata Template (Popup)</li>
         <li>Edit Metadata Template (Popup)</li>
         <li>Metadata Field (Popup)</li>
         <li>Profile (Popup)</li>

      </ul>
      <!-- <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/31ee46fe567bc2da4fc53b7fbd4384e1ae35fb31"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>04/23/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Metadata Templates (Repo Admin & Tenant Admin)</li>
         <li>Repository Flow (Tenant Admin)</li>
      </ul>
      <!-- <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/c84e2ff1337d28fa376890c28d0644016a52aec1"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>04/16/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Search & Advanced Search</li>
         <li>Repository Flow (User & Repo Admin)</li>
         <li>Dashboard</li>
         <li>Files & Folders Flow</li>
         <li>Create New Folder & Upload New File</li>
      </ul>
      <!-- <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/1a99db5608f8358bc88c70b1243f6778958622a6"
         target="_blank">View Commit Details in Github</a> -->
   </div>

   <div class="border-bottom mt-4"></div>
   <div>
      <p class="mt-4">
         Published on <strong>03/27/2022</strong>
      </p>
      <ul class="ps-3 release-notes-column">
         <li>Master Layout & Global Templates</li>
         <li> App Setup, Styles, Header, Footer & Basic Controls</li>
         <li> Left Navigation & Breadcrumbs</li>
         <li> Form Entry Page</li>
         <li> List view, Controls & Actions</li>
         <li> Card View and Popup Templates</li>
         <li>Login Page</li>
      </ul>
      <!-- <a class="mt-5"
         href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/733681abbe2b297f6d66785792bc39ef326c684d"
         target="_blank">View Commit Details in Github</a> -->
   </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button class="secondary-button me-2" mat-dialog-close>Ok</button>
</mat-dialog-actions>