<h2 mat-dialog-title class="has-close-icon">
  Release Notes
  <button mat-button class="icon-button" matTooltip="Close"  mat-dialog-close>
     <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography app-content-wrapper">
  <p class="mt-2">
     Published on <strong>06/13/2022</strong>
  </p>
  <h3 class="mt-3">What's New</h3>
  <ul class="ps-3">
     <li>Updated Left Navigation</li>
     <li>Metatdata Template Changes</li>
     <li>Company Info Changes - Modal Page & Setting page</li>
     <li>Folder and File changes</li>
     <li>Updated Tags</li>
     <li>Updates in Modal</li>
  </ul>
  <a href="javascript:void(0)" class="mt-5" href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/b54b1615698b9c3afd80d0a7c212335f4c4c5ad0" target="_blank">View Commit Details in Github</a>
  <div class="border-bottom mt-3"></div>
  <p class="mt-4">
     Published on <strong>06/06/2022</strong>
  </p>
  <h3 class="mt-3">What's New</h3>
  <ul class="ps-3">
     <li>Shared</li>
     <li>Trash</li>
     <li>User Access Modal</li>
     <li>Configure Columns Modal</li>
     <li>Configure Display Order of Repositories Modal</li>
     <li>Related Files Modal</li>
     <li>Shared Documents</li>
  </ul>
  <a href="javascript:void(0)" class="mt-5" href="https://github.com/scout-qualapps/qdoc-dms-ui/commit/1cc865deb9d4723942ba22cca822bba242aad2b5" target="_blank">View Commit Details in Github</a>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="secondary-button me-2" mat-dialog-close>Ok</button>
</mat-dialog-actions>