<h2 mat-dialog-title class="has-close-icon"> View User
    <button mat-button class="icon-button" matTooltip="Close" mat-dialog-close>
       <mat-icon>close</mat-icon>
    </button>
 </h2>
 <mat-dialog-content class="mat-typography min-w-500">
    <div class="sub-breadcrumb rounded mb-4 ">Details of <span class="fw-bold">"First Name, Last Name"</span> 
    </div>
 
    <div class="row">
        <div class="col-md-7 order-2  order-md-1 border-end-0-mobile  border-end">
            <div class="list">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-5 pe-0 col-lg-4">First Name:</div>
                    <div class="col bold mt-1 mt-sm-0">John </div>
                </div>
                <div class="row mt-15">
                    <div class="col-12 col-sm-5 col-md-5 pe-0 col-lg-4">First Name:</div>
                    <div class="col bold mt-1 mt-sm-0">Doe</div>
                </div>
                <div class="row mt-15">
                    <div class="col-12 col-sm-5 col-md-5 pe-0 col-lg-4">Email Address:</div>
                    <div class="col bold mt-1 mt-sm-0">john.doe@email.com</div>
                </div>
                <div class="row mt-15">
                    <div class="col-12 col-sm-5 col-md-5 pe-0 col-lg-4">Active:</div>
                    <div class="col bold mt-1 mt-sm-0">Active</div>
                </div>
     

            </div>
        </div>
        <div class="col-md-5 order-1 ps-md-4 mb-3  pb-3 mb-md-0 mb-md-0 border-bottom-mobile  order-md-2">
            <div class="app-input-group ">
                <!-- <label>Profile Picture: </label> -->
                <div class="d-sm-flex justify-content-center align-items-center">
                    <div class=" mb-3 ms-0 justify-content-center profile-section mb-sm-0 ">
                        <div class="">
                           
                            <img src="assets/images/user-profile-photo.jpg" matTooltip="Profile Picture"
                                alt="Profile Photo" class="img-thumbnail profile-picture mat-tooltip-trigger "
                                >

                        </div>
                    </div>
                  
                </div>


            </div>
        </div>
    </div>
 </mat-dialog-content>
 <mat-dialog-actions align="end">
    
    <button mat-button class="secondary-button me-2" mat-dialog-close>OK</button>
 </mat-dialog-actions> 