<div class="card mt-4">
    <div class=" bg-transparent">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Related Files">
         <app-related-files></app-related-files>
        </mat-tab>
        <mat-tab label="Sharing">
          <app-sharing></app-sharing>
        </mat-tab>
        <mat-tab label="Version History">
          <app-version-hitory></app-version-hitory>
        </mat-tab>
        <mat-tab label="User Access">
          <app-user-access></app-user-access>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>