<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
   <ol class="breadcrumb">
       <li class="breadcrumb-item d-block d-sm-none">
         <a mat-button class="icon-button back-btn" matTooltip="Back" [routerLink]="['../repository']">
           <mat-icon aria-hidden="false">arrow_back</mat-icon>
         </a>
       </li>
       <li class="breadcrumb-item flex-hide-sm">
         <a href="#" [routerLink]="['../repository']">Repository 1</a>
         <mat-icon>navigate_next</mat-icon>
       </li>
   
   
       <li class="breadcrumb-item flex-hide-sm active">Upload</li>
     </ol>
</nav>
<div class="title-block">
   <div class="main-icon">
       <mat-icon class="folder-icon" >upload_rounded</mat-icon>
   </div>
   <div class="flex-grow-1">
      <div class="title ">
       Upload
      </div>
      <div class="title-info">
         Select files to upload
      </div>
   </div>  
</div>

<div class="content-wrapper">
   <div class="row">
      <div class="col-md-9 col-lg-6">
         <form>
          <div class="mb-4">
             <span class="text-danger"> * </span> indicates required field
          </div>
        <!-- <div class="app-input-group">
            <label> File Type <span class="text-danger"> * </span></label> 
             
            <mat-form-field  class="app-input-element" appearance="fill" floatLabel="never">
               <mat-select  placeholder="File Type" class="select-color" [formControl]="fileType"  >
                <mat-select-trigger>
                 <div class="d-flex"> 
                    <img class="grid-file-img icon me-2" src="{{fileType.value}}" />
                    <span>{{getFileTypeName(fileType.value)}}</span>
                 </div>  
                 </mat-select-trigger>
                  <mat-option  *ngFor="let value of fileTypeValue" [value]="value.value" >
                    <img class="grid-file-img icon me-3" src="{{value.value}}" />
                      {{value.viewValue}} </mat-option>
                </mat-select>
            </mat-form-field>
         </div> -->
        <div class="app-input-group">
            <label>Security <span class="text-danger"> * </span></label> 
            <div>
               <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">
                     <mat-icon aria-hidden="false" matTooltip="Private" class="align-middle visibility-off">visibility_off</mat-icon>
                     Private </mat-radio-button>
                  <mat-radio-button class="ms-4" value="2">  <mat-icon aria-hidden="false" matTooltip="Private" class="align-middle ">visibility</mat-icon> Public </mat-radio-button>
                </mat-radio-group>
            </div>
      
         </div>
        <div class="app-input-group">
            <!-- <label>Sensitive </label>  -->
            <div>
               <section class="">
                  <mat-checkbox [checked]="isChecked">Sensitive</mat-checkbox>
               </section>
            </div>
      
         </div>

         
        <div class="app-input-group">
           <label>Choose or drag file(s) to upload <span class="text-danger"> * </span></label>
        <div draggable="true" ngClass="{{dragAreaClass}}">
           <div class="drag-box">
              <div class="col-md-12 text-center drag-file">
                 Drag files here <br/>
               
               <div class="my-2">  or</div>  
                 <button mat-button class="btn secondary-button btn-sm mt-1" (click)="file.click()">
                     Browse
                 </button>
                 <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
                 <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                    <div class="file" *ngFor="let file of draggedFiles">
                       {{file}}
                    </div>
                 </div>
              </div>
           </div>
        </div>
        </div>
        <div class="error" *ngIf="error">
           Only one file at time allow
        </div>
           
            <div class="border-top">
               <!-- <div class="gap-2 py-3 d-flex justify-content-end"> -->
               <div class="gap-2 xs-btn-group-g-2 py-3  d-md-flex justify-content-md-end">
                   <button mat-button class="secondary-button me-3 me-md-2" [routerLink]="['../repository']">Cancel</button>
                   <button mat-button class=" primary-button "> Upload</button>
               </div>
            </div>
         </form>
      </div>
   </div>
 </div>