<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Card View</li>
    </ol>
  </nav>

  <div class="title-block">
   <div class="main-icon"> <mat-icon class="main-icon-font">fact_check</mat-icon></div>
   <div class="flex-grow-1">
      <div class="title">
        Card View
      </div>
      <div class="title-info">
        Sub headline
      </div>
   </div>
 </div>
 <div class="content-wrapper">
     <div class="row">
         <div class="col-12">
            <div class="filter_controls  row mb-2">
               <ul class="nav col-md-12 justify-content-end">
                  <!--This will be removed after the clint approval -->
                  <li class="b-select-dropdown " >
                     <span class="label d-none d-sm-block pe-2"> Sort By</span>
                     <mat-form-field class="app-input-element b-select w-120 pe-2 " appearance="fill" floatLabel="never">
                        <mat-select >
                           <mat-option *ngFor="let value of sortvalue" [value]="value.value">
                           {{value.viewValue}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </li>
                  <li class="nav-item  no-hover ">
                     <button mat-button class="icon-button  no-hover" matTooltip="">
                        <mat-icon>arrow_downward </mat-icon>
                     </button>
                  </li>
               </ul>
            </div>
         </div>
     </div>
    <div class="card-view-panel-records">
        <div class="row g-4 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col">
                <div class="card">
                    <div class="more-menu">
                        <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="menu2">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="card-content" [routerLink]="">
                        <mat-icon class="folder-icon">folder</mat-icon>
                         <h6 class="card-file-title text-truncate"><a href="javascript:void(0);">Folder 1</a></h6>
                    <p class="card-description text-truncate">01/05/2022 3:30 PM</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="more-menu">
                        <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="menu2">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="card-content" [routerLink]="">
                        <mat-icon class="folder-icon" style="color: blue;">folder</mat-icon>
                         <h6 class="card-file-title text-truncate"><a href="javascript:void(0);">Folder 2</a></h6>
                    <p class="card-description text-truncate">01/05/2022, 3:30 PM</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="more-menu">
                        <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="menu2">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="card-content" [routerLink]="">
                        <mat-icon class="folder-icon">folder</mat-icon>
                         <h6 class="card-file-title text-truncate"><a href="javascript:void(0);">Folder 3</a></h6>
                    <p class="card-description text-truncate">01/05/2022 3:30 PM</p>
                    </div>
                </div>
            </div>
         

            
            <div class="col">
                <div class="card">
                    <div class="more-menu">
                        <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="card-content" [routerLink]="">
                    <img class="card-image" src="assets/images/icon-xls.svg">
                    <h6 class="card-file-title text-truncate"><a href="javascript:void(0);">File 6</a></h6>
                    <p class="card-description text-truncate">01/03/2022 3:30 PM</p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
           <div class="my-3">
              <span class="fw-bold"> 3</span> folders and <span class="fw-bold"> 5</span> files <span class="fw-bold"> (12.6
                 MB)</span>
           </div>
        </div>
        <div class="col-md-8">
           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
           </mat-paginator>
        </div>
     </div>
    <mat-menu #menu="matMenu" class="menu-dropdown general-dropdown">
        <ul class="menu-lists">
           <li mat-menu-item>
              <mat-icon>smart_display</mat-icon>
              Preview
           </li>
           <li mat-menu-item>
              <mat-icon>star_outline</mat-icon>
              Favorite
           </li>
           <li mat-menu-item>
              <mat-icon>share</mat-icon>
              Share
           </li>
           <li mat-menu-item>
              <mat-icon>download</mat-icon>
              Download
           </li>
           <li class="divider" mat-menu-item>
              <mat-icon>delete</mat-icon>
              Delete
           </li>
           <li mat-menu-item (click)="openMoveCopyDialog()">
              <mat-icon>airline_stops</mat-icon>
              Move To
           </li>
           <li class="divider" (click)="openMoveCopyDialog()" mat-menu-item>
              <mat-icon>file_copy</mat-icon>
              Copy To
           </li>
           <li mat-menu-item>
              <mat-icon>preview</mat-icon>
              View Details
           </li>
        </ul>
     </mat-menu>
    
    <mat-menu #menu2="matMenu" class="menu-dropdown general-dropdown">
        <ul class="menu-lists">
           <li mat-menu-item>
              <mat-icon>smart_display</mat-icon>
              Preview
           </li>
           <li mat-menu-item>
              <mat-icon>star_outline</mat-icon>
              Favorite
           </li>
           <li mat-menu-item>
              <mat-icon>share</mat-icon>
              Share
           </li>
           <li mat-menu-item>
              <mat-icon>download</mat-icon>
              Download
           </li>
           <li class="divider" mat-menu-item>
              <mat-icon>delete</mat-icon>
              Delete
           </li>
           <li mat-menu-item (click)="openMoveCopyDialog()">
              <mat-icon>airline_stops</mat-icon>
              Move To
           </li>
           <li class="divider" (click)="openMoveCopyDialog()" mat-menu-item>
              <mat-icon>file_copy</mat-icon>
              Copy To
           </li>
           <li mat-menu-item>
              <mat-icon>preview</mat-icon>
              View Details
           </li>
        </ul>
     </mat-menu>
 </div>

 