<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Manage Lookups</li>
  </ol>
</nav>
<div class="title-block">
  <div class="main-icon">
    <mat-icon>dns</mat-icon>
  </div>
  <div class="flex-grow-1">
    <div class="title">
      Lookups
    </div>
    <div class="title-info d-block">
      Manage lookups
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <ul class="lookup-lists">
        <li><a href="#" [routerLink]="['./../lookup-options']">Department</a></li>
        <li><a href="#" [routerLink]="['./../lookup-options']">Source</a></li>
        <li><a href="#" [routerLink]="['./../lookup-options']">Correspondence</a></li>
        <li><a href="#" [routerLink]="['./../lookup-options']">Data Type</a></li>
        <li><a href="#" [routerLink]="['./../lookup-options']">Configure Columns Type</a></li>
      </ul>
    </div>
  </div>
</div>