
<div class="table-responsive row-select-cursor mt-3">
    <table mat-table [dataSource]="dataSource" matSort  class="mat-table  ellipsis" (matSortChange)="announceSortChange($event)" >
    <ng-container matColumnDef="checkbox">
       <th style="width: 10px" class="text-center" mat-header-cell *matHeaderCellDef>
          <mat-checkbox class="b-checkbox" (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
         ></mat-checkbox>
       </th>
       <td mat-cell class="text-center" *matCellDef="let element">
          <mat-checkbox class="b-checkbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                   ></mat-checkbox>
       </td>
    </ng-container>
    <ng-container matColumnDef="img">
       <th style="width: 10px" class="text-center pt-2" mat-header-cell *matHeaderCellDef >
          <mat-icon>description</mat-icon>
       </th>
       <td class="text-center" mat-cell *matCellDef="let element">
          <img class="grid-file-img icon" [src]="element.img" *ngIf="element.img"/>
          <mat-icon *ngIf="!element.img" [ngStyle]="{'color': element.folderColor ? element.folderColor : 'gold' }">folder</mat-icon>
       </td>
    </ng-container>
    
    <ng-container matColumnDef="name" >
       <th style="width: 25%;  min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header 
          sortActionDescription="Sort by name"> Name </th>
       <td class="" mat-cell *matCellDef="let element"><a href="javascript:void(0)" (click)="fileFolderNavigation(element.name)">{{element.name}}</a> </td>
    </ng-container>
    <ng-container matColumnDef="folder">
       <th style="width: 22%; min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by folder"> Folder </th>
       <td mat-cell *matCellDef="let element"> {{element.folder}} </td>
    </ng-container>
    <ng-container matColumnDef="DateModified">
       <th style="width:22%;  min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by DateModified"> Date Modified </th>
       <td mat-cell *matCellDef="let element"> {{element.DateModified}} </td>
    </ng-container>
    <ng-container matColumnDef="ModifiedBy" >
       <th style="width: 17%;  min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by ModifiedBy"> Modified By </th>
       <td mat-cell *matCellDef="let element"> {{element.ModifiedBy}} </td>
    </ng-container>
    <ng-container matColumnDef="gridListNav">
       <th class="grid-list-nav-td-th" style="width: 20px" mat-header-cell *matHeaderCellDef> </th>
       <td class="grid-list-nav-td" mat-cell *matCellDef="let element">
          <div class="justify-content-end">
             <ul class="nav justify-content-end">
                <li class="nav-item">
                   <button mat-button class="icon-button" [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{ isFolder: element.isFolder }" (click)="isFolderAndFile(element.isFolder)" matTooltip="More" [id]="element.position" (click)="selctedMenuPosition(element);">
                      <mat-icon aria-hidden="false">more_vert</mat-icon>
                   </button>
                  
                </li>
             </ul>
          </div>
       </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    [class.active-row]="clickedRows.has(row)" (contextmenu)="onContextMenu($event, row)" [ngClass]="selectedPosition===row.position?'active-row':''" (click)="selection.toggle(row)"></tr>
    </table>
 </div>
 <div class="row my-3">
   <div class="col-md-6 align-self-center"> <span class="fw-bold"> 3</span> folders and <span class="fw-bold"> 5</span> files <span
      class="fw-bold"> (12.6 MB)</span></div>
   <div class="col-md-6">
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
   </div>
</div>
 <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
 [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="isFolder">
 </div>
 <mat-menu #contextMenu="matMenu" class="menu-dropdown general-dropdown">
   <ng-template matMenuContent let-isFolder="isFolder">
    <ul class="menu-lists">
       <li mat-menu-item>
          <mat-icon>smart_display</mat-icon>
          Preview
       </li>
       <li mat-menu-item>
          <mat-icon>star_outline</mat-icon>
          Favorite
       </li>
       <li mat-menu-item (click)="openShareDialog()">
          <mat-icon>share</mat-icon>
          Share
       </li>
       <li mat-menu-item>
          <mat-icon>download</mat-icon>
          Download
       </li>
       <li class="divider" mat-menu-item>
          <mat-icon>delete</mat-icon>
          Delete
       </li>
       <li mat-menu-item mat-menu-item (click)="openMoveCopyDialog()">
         <mat-icon>airline_stops</mat-icon>
         Move To
</li>
<li mat-menu-item class="divider" (click)="openMoveCopyDialog()">
         <mat-icon>file_copy</mat-icon>
         Copy To
</li>
  
       <li mat-menu-item  (click)="fileFolderDetails()">
         <mat-icon>preview</mat-icon>
         View Details
      </li>
    </ul>
    </ng-template>
 </mat-menu>

   