<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item d-block d-sm-none">
          <a mat-button class="icon-button back-btn" matTooltip="Back" [routerLink]="['/tenant-repo-admin']">
             <mat-icon aria-hidden="false">arrow_back</mat-icon>
          </a>
       </li>
       <li class="breadcrumb-item flex-hide-sm">
          <a href="#" [routerLink]="['/tenant-repo-admin']">Manage Repositories </a>
          <mat-icon>navigate_next</mat-icon>
       </li>
       <li class="breadcrumb-item flex-hide-sm active" aria-current="page">New  Repositories</li>
    </ol>
  </nav>
  <div class="title-block">
    <div class="main-icon">
        <mat-icon class="align-middle">source</mat-icon>
    </div>
    <div class="flex-grow-1">
       <div class="title">
        New Repository
       </div>
       <div class="title-info">
          Create a new  Repository
       </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
       <div class="col-md-9 col-lg-6">
          <form>
           <div class="mb-4">
              <span class="text-danger"> * </span> indicates required field
           </div>
             <div class="app-input-group">
                <label>Repository  Name <span class="text-danger">*</span> </label>
                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                   <input matInput placeholder="Repository Name">
                </mat-form-field>
             </div>
             <div class="app-input-group mb-4">
                <label>Description </label>
                <mat-form-field class="app-input-element  text-area" appearance="fill" floatLabel="never">
                   <textarea matInput placeholder="Enter description"></textarea>
                   <mat-hint align="end">1 / 100 characters</mat-hint>
                </mat-form-field>
             </div>

             <div class="app-input-group">
                <label>Path   <span class="text-danger">*</span> </label>
                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                   <input matInput placeholder="Path ">
                </mat-form-field>
             </div>
 
             <div class="app-input-group">
               <label>Prefix</label>
                  <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                     <input matInput placeholder="Prefix" value="">
                  </mat-form-field>
            </div>
             
             <div class="app-input-group">
               <label> Security <span class="text-danger"> * </span></label> 
               <div>
                  <mat-radio-group aria-label="Select an option">
                     <mat-radio-button value="1">
                        <mat-icon aria-hidden="false" matTooltip="Private" class="align-middle visibility-off">visibility_off</mat-icon>
                        Private </mat-radio-button>
                     <mat-radio-button class="ms-4" value="2">  <mat-icon aria-hidden="false" matTooltip="Private" class="align-middle ">visibility</mat-icon> Public </mat-radio-button>
                   </mat-radio-group>
               </div>
               <!-- <mat-form-field  class="app-input-element" appearance="fill" floatLabel="never">
                  <mat-select  placeholder="Security" class="select-color" [formControl]="security"  >
                   <mat-select-trigger>
                    <div class="d-flex "> 
                      <mat-icon aria-hidden="false" class="align-self-center me-2 {{security.value}}" > {{security.value}}</mat-icon>
                   
                       <span>{{getSecurityTypeName(security.value)}}</span>
                    </div>  
                    </mat-select-trigger>
                     <mat-option  *ngFor="let value of securityValue" [value]="value.value" >
                        <mat-icon aria-hidden="false" class="{{value.className}}">{{value.value}}</mat-icon>
                         {{value.viewValue}} </mat-option>
                   </mat-select>
               </mat-form-field> -->
            </div>

             <div class="app-input-group">
                <label>Repository Admin  <span class="text-danger">*</span> </label>
               
                <mat-form-field class="app-chip-list app-input-element" appearance="fill">

                  <mat-chip-list #chipList aria-label="AdminUserName selection">
                     <mat-chip *ngFor="let AdminUserName of AdminUser" (removed)="remove(AdminUserName)">
                        {{AdminUserName}}
                        <button matChipRemove>
                           <mat-icon>cancel</mat-icon>
                        </button>
                     </mat-chip>
                     <input placeholder="Select Repository Admin" #AdminUserInput [formControl]="AdminUserCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                     <mat-option *ngFor="let AdminUserName of filteredAdminUser | async" [value]="AdminUserName">
                        {{AdminUserName}}
                     </mat-option>
                  </mat-autocomplete>
               </mat-form-field>
                  <label class="sub-label  text-end">Enter user name or email address of users to search </label>
             </div>

             
        

             
             <div class="border-top">
                <div class="gap-2 py-3 d-flex justify-content-end">
                    <button mat-button class="secondary-button me-3 me-md-2" [routerLink]="['/tenant-repo-admin']">Cancel</button>
                    <button mat-button [routerLink]="['../repository-details']" class=" primary-button ">Create Repository</button>
                </div>
             </div>
          </form>
       </div>
    </div>
  </div>