<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-block d-sm-none">
            <a mat-button class="icon-button back-btn" matTooltip="Back" [routerLink]="['../users']">
                <mat-icon aria-hidden="false">arrow_back</mat-icon>
            </a>
        </li>
        <li class="breadcrumb-item flex-hide-sm">
            <a href="#" [routerLink]="['../users']">Manage Users </a>
            <mat-icon>navigate_next</mat-icon>
        </li>
        <li class="breadcrumb-item flex-hide-sm active" aria-current="page">New User</li>
    </ol>
</nav>
<div class="title-block">
    <div class="main-icon">
        <mat-icon>person_add</mat-icon>
    </div>
    <div class="flex-grow-1">
        <div class="title">
            New User
        </div>
        <div class="title-info">
            Create a new user
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="px-2">
        <div class="row">
            <div class="col col-lg-9">
                <div class="row g-3">
                    <div class="col-md-8 col-lg-8 order-2 order-md-1 pe-md-4">
                        <div class="mb-4 mt-0 mt-md-2">
                            <span class="text-danger"> * </span> indicates required field
                        </div>
                        <form>
                            <div class="app-input-group">
                                <label>First Name <span class="text-danger">*</span> </label>
                                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                                    <input matInput placeholder="First Name" value="">
                                </mat-form-field>
                            </div>
                            <div class="app-input-group">
                                <label>Last Name <span class="text-danger">*</span> </label>
                                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                                    <input matInput placeholder="Last Name" value="">
                                </mat-form-field>
                            </div>
                            <div class="app-input-group">
                                <label>Email Address  <span class="text-danger">*</span></label>
                                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                                    <input matInput type="email" placeholder="Email Address" value="">
                                </mat-form-field>
                                <label class="sub-label text-end">Email address is the login id for this application</label>
                            </div>
                            <div class="app-input-group">
                                <mat-checkbox class="" [(ngModel)]="active">Active</mat-checkbox>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-lg-4 order-1 order-md-2 mb-4 mb-md-0">
                        <div class="d-flex flex-column mt-2 mt-md-4 align-items-center">
                            <div class="mt-md-5 profile-section">
                                <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
                                    style="display:none" />
                                <img src="assets/images/user-profile-photo.jpg" matTooltip="Change Profile Picture" matTooltipPosition="after"
                                    alt="Profile Photo" class="img-thumbnail profile-picture" (click)="file.click()">
                                <span class="profile-edit">
                                    <mat-icon>photo_camera</mat-icon>
                                </span>
                            </div>
                            <button mat-button class="secondary-button mb-0 mt-3 mb-md-3" (click)="fileInput.click()">Upload Profile Picture</button>
                            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="py-3  gap-2 xs-btn-group-g-2  d-md-flex justify-content-md-end">
                        <button mat-button class="secondary-button me-3 me-md-2"
                            [routerLink]="['../users']">Cancel</button>
                        <button mat-button class=" primary-button " [routerLink]="['./../user-details']">Create
                            User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>