<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item flex-hide-sm active" aria-current="page">Modal Dialogs</li>
    </ol>
  </nav>

  <div class="title-block">
   <div class="main-icon"> <mat-icon class="main-icon-font">fact_check</mat-icon></div>
   <div class="flex-grow-1">
      <div class="title">
        Modal Dialogs
      </div>
      <div class="title-info">
        Prompting you to take a specific action
      </div>
   </div>
 </div>
 <div class="content-wrapper">
    <div class="row">
       <div class="col-12" style="margin-top:50px; text-align:center;">
            <button mat-button class=" primary-button" (click)="openDialog()">Open Dialog</button>
        </div>
    </div>

 </div>