<h2 mat-dialog-title class="has-close-icon">Add/Edit Contact Details
    <button mat-button class="icon-button" matTooltip="Close" mat-dialog-close>
       <mat-icon>close</mat-icon>
    </button>
 </h2>
 <mat-dialog-content class="mat-typography min-w-500">
   
 
    <div class="row">
       <div class="col-12">

        <div class="app-input-group row">
            <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">Contact Person  <span class="text-danger"> * </span></label>
          <div class="col" >
             <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                 <input matInput value="Srikanta, Prakash" placeholder="Contact Name">
             </mat-form-field>
          </div>
         </div>
        <div class="app-input-group row">
            <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">Phone </label>
          <div class="col" >
             <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                 <input matInput value="(916) 999-0470" placeholder="(000) 000-0000">
             </mat-form-field>
          </div>
         </div>
        <div class="app-input-group row">
            <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">Email </label>
          <div class="col" >
             <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                 <input matInput type="email" value="Srikanta.prakash@qualapps.com" placeholder="Email">
             </mat-form-field>
          </div>
         </div>
             
    <div class="app-input-group row">
       <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">Address  <span class="text-danger"> * </span></label>
     <div class="col" >
        <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
            <input matInput value="2701 Del Paso Road" placeholder="Address ">
        </mat-form-field>
     </div>
    </div>

    <div class="app-input-group row">
       <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">City  <span class="text-danger"> * </span></label>
     <div class="col" >
        <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
            <input matInput value="Sacramento" placeholder="City ">
        </mat-form-field>
     </div>
    </div>

    <div class="app-input-group row">
       <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">State <span class="text-danger"> * </span></label>
     <div class="col" >
        <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
            <mat-select placeholder="State" class="select-color" [formControl]="stateList">
                <mat-select-trigger>
                    {{stateList.value}}
                </mat-select-trigger>
                <mat-option *ngFor="let value of statevalueValue" [value]="value.value">
                    {{value.viewValue}} </mat-option>
            </mat-select>
        </mat-form-field>
     </div>
    </div>

    <div class="app-input-group row">
        <label class="col-12 col-sm-4 col-md-3 col-lg-2 field-col-label">Zip Code   <span class="text-danger"> * </span></label>
      <div class="col" >
        <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
            <input matInput value="95835" placeholder="Zip Code">
        </mat-form-field>
      </div>
     </div>
    
  
 
     
    
       </div>
    </div>
 
 
    
 
 </mat-dialog-content>
 <mat-dialog-actions align="end">
    <div class="me-auto  indicates">
       <span class="text-danger"> * </span> indicates required field
    </div>
    <button mat-button class="secondary-button me-2" mat-dialog-close>Cancel</button>
    <button mat-button class=" primary-button" [mat-dialog-close]="true" cdkFocusInitial>Update </button>
 </mat-dialog-actions>