<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item d-block d-sm-none">
      <button mat-button class="icon-button back-btn" matTooltip="">
        <mat-icon aria-hidden="false">arrow_back</mat-icon>
      </button>
      
    </li>
    <li class="breadcrumb-item flex-hide-sm"><a href="#">Repository 1</a>
      <mat-icon>navigate_next</mat-icon>
    </li>

    <li class="breadcrumb-item flex-hide-sm"><a href="#">Folder 1</a>
      <mat-icon>navigate_next</mat-icon>
    </li>
    <li class="breadcrumb-item  flex-hide-sm"><a href="#">File 1.pdf</a>
      <mat-icon>navigate_next</mat-icon>
    </li>
    <li class="breadcrumb-item flex-hide-sm active" aria-current="page">Details</li>
  </ol>
</nav>