<h2 mat-dialog-title class="has-close-icon"> Contact Us
    <button mat-button class="icon-button" matTooltip="Close" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content class="mat-typography contact-modal">
    <div class="container-fluid">
    <div class="row g-4 row-cols-md-3 row-cols-1 pt-2">
        <div class="col border">
            <div class="card text-center border-0  mt-3 mt-md-0">
                <div class="card-body">
                    <mat-icon aria-hidden="false" class="main-icon">pin_drop</mat-icon>
                    <h3 class="card-title mb-1 fw-bold"> Location</h3>
                    <p class="card-text">2701 Del Paso Road #394
                        Sacramento, CA 95835</p>
                </div>
            </div>
        </div>
        <div class="col border">
            <div class="card text-center border-0">
                <div class="card-body">
                    <mat-icon aria-hidden="false" class="main-icon"><span class="material-symbols-outlined">
                        phone_enabled
                        </span></mat-icon>
                    <h3 class="card-title mb-1 fw-bold"> Phone</h3>
                    <p class="card-text">(916) 999-0470</p>
                    <h3 class="card-title mb-1 mt-4 fw-bold"> Fax</h3>
                    <p class="card-text">(916) 999-6843</p>
                </div>
            </div>
        </div>
        <div class="col border">
            <div class="card text-center border-0">
                <div class="card-body">
                    <mat-icon aria-hidden="false" class="main-icon">contact_mail</mat-icon>
                    <h3 class="card-title mb-1 fw-bold"> Email</h3>
                    <p class="card-text">sales@qualapps.com</p>
                    <h3 class="card-title mb-1 mt-4 fw-bold"> Support</h3>
                    <p class="card-text">support@qualapps.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-button class="secondary-button me-2" mat-dialog-close>Ok</button>
</mat-dialog-actions>