<div class="card-view-panel-records mt-0">
    <div class="row mx-0 g-4 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col">
            <div class="card" >
                <div class="more-menu">
                    <button mat-button class="icon-button"  matTooltip="" [matMenuTriggerFor]="folderMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content">
                    <mat-icon class="folder-icon" [routerLink]="['/repository/folder-view']" >folder</mat-icon>
                    <h6 class="card-file-title justify-content-center d-flex">
                        <div class=" text-truncate">
                            <a href="javascript:void(0)" [routerLink]="['/repository/folder-view']" >Folder 1 Folder 1 Folder 1</a> 
                        </div>
                          
                        <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                        </mat-icon>   
                    </h6>
               
               
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="folderMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content"  >
                    <mat-icon class="folder-icon" [routerLink]="['/repository/folder-view']"  style="color: green">folder</mat-icon>
              
                <h6 class="card-file-title justify-content-center d-flex">
                    <div class=" text-truncate">
                        <a href="javascript:void(0)" [routerLink]="['/repository/folder-view']" >Folder 2</a> 
                    </div>
                      
                    <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                    </mat-icon>   
                </h6>
              
              
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="folderMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content"   >
                    <mat-icon class="folder-icon" [routerLink]="['/repository/folder-view']">folder</mat-icon>
                  
                     <h6 class="card-file-title justify-content-center d-flex">
                        <div class=" text-truncate">
                            <a href="javascript:void(0)" [routerLink]="['/repository/folder-view']" >Folder 3</a> 
                        </div>
                          
                        <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                        </mat-icon>   
                    </h6>
                    
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card" >
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="fileMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>  
                <div class="card-content" >
                   
                <img class="card-image" [routerLink]="['/repository/file-details']" src="assets/images/icon-pdf.svg">
               
               <h6 class="card-file-title justify-content-center d-flex">
                <div class=" text-truncate">
                    <a href="javascript:void(0)" [routerLink]="['/repository/file-details']" > File 1  </a> 
                </div>
                  
                <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                </mat-icon>   
            </h6>
             
                    
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="fileMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content" >
                <img class="card-image" [routerLink]="['/repository/file-details']" src="assets/images/icon-doc.svg">
                <h6 class="card-file-title justify-content-center d-flex">
                    <div class=" text-truncate">
                        <a href="javascript:void(0)" [routerLink]="['/repository/file-details']" > File 2  </a> 
                    </div>
                      
                    <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                    </mat-icon>   
                </h6>
                 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="fileMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content" >
                   
                <img class="card-image" [routerLink]="['/repository/file-details']"  src="assets/images/icon-xls.svg">
                <h6 class="card-file-title justify-content-center d-flex">
                    <div class=" text-truncate">
                        <a href="javascript:void(0)" [routerLink]="['/repository/file-details']" > File 3  </a> 
                    </div>
                      
                    <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                    </mat-icon>   
                </h6>
                   
                </div>
            </div>
        </div>
  
        <div class="col">
            <div class="card">
                <div class="more-menu">
                    <button mat-button class="icon-button" matTooltip="" [matMenuTriggerFor]="fileMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="card-content">
                <img class="card-image"  [routerLink]="['/repository/file-details']" src="assets/images/icon-doc.svg">
                <h6 class="card-file-title justify-content-center d-flex">
                    <div class=" text-truncate">
                        <a href="javascript:void(0)" [routerLink]="['/repository/file-details']" > File 4  </a> 
                    </div>
                      
                    <mat-icon class="table-td-info  ms-1" matTooltip="shared info" [matMenuTriggerFor]="contextMenu2">info
                    </mat-icon>   
                </h6>
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 mt-4">
    <div class="col-md-4">
       <div class="my-3">
          <span class="fw-bold"> 3</span> folders and <span class="fw-bold"> 5</span> files <span class="fw-bold"> (12.6
             MB)</span>
       </div>
    </div>
    <div class="col-md-8">
       <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
       </mat-paginator>
    </div>
 </div>
<mat-menu #folderMenu="matMenu" class="menu-dropdown general-dropdown">
    <ul class="menu-lists">
    <li mat-menu-item>
          <mat-icon>smart_display</mat-icon>
          Preview
       </li>
       <li mat-menu-item>
          <mat-icon>star_outline</mat-icon>
          Favorite
       </li>
       <li mat-menu-item  (click)="openShareDialog()">
          <mat-icon>share</mat-icon>
          Share
       </li>
       <li mat-menu-item>
          <mat-icon>download</mat-icon>
          Download
       </li>
       <li class="divider" mat-menu-item>
          <mat-icon>delete</mat-icon>
          Delete
       </li>
       <li mat-menu-item (click)="openMoveCopyDialog()">
          <mat-icon>airline_stops</mat-icon>
          Move To
       </li>
       <li class="divider" (click)="openMoveCopyDialog()" mat-menu-item>
          <mat-icon>file_copy</mat-icon>
          Copy To
       </li>
       <li mat-menu-item [routerLink]="['/repository/folder-details']">
          <mat-icon>preview</mat-icon>
          View Details
       </li>
    </ul>
 </mat-menu>
<mat-menu #fileMenu="matMenu" class="menu-dropdown general-dropdown">
    <ul class="menu-lists">
       <li mat-menu-item>
          <mat-icon>smart_display</mat-icon>
          Preview
       </li>
       <li mat-menu-item>
          <mat-icon>star_outline</mat-icon>
          Favorite
       </li>
       <li mat-menu-item  (click)="openShareDialog()">
          <mat-icon>share</mat-icon>
          Share
       </li>
       <li mat-menu-item>
          <mat-icon>download</mat-icon>
          Download
       </li>
       <li class="divider" mat-menu-item>
          <mat-icon>delete</mat-icon>
          Delete
       </li>
       <li mat-menu-item (click)="openMoveCopyDialog()">
          <mat-icon>airline_stops</mat-icon>
          Move To
       </li>
       <li class="divider" (click)="openMoveCopyDialog()" mat-menu-item>
          <mat-icon>file_copy</mat-icon>
          Copy To
       </li>
       <li mat-menu-item [routerLink]="['/repository//file-details']">
          <mat-icon>preview</mat-icon>
          View Details
       </li>
    </ul>
 </mat-menu>

 <mat-menu #contextMenu2="matMenu" class="info-dropdown general-dropdown">
    <div class="  mb-2 pt-2 pb-2 border-bottom px-3"><span class="fw-bold">"Folder 1"</span> sharing details </div>
    <div class="px-3">
        <div class="share-info">
            <div class="bold">
                Jone, Adam
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>

        <div class="share-info">
            <div class="bold">
               Agasthya, Udupi
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Jone, Mathew
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Anil, Kumar
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
    </div>
    <ul class="menu-lists border-top">
        <li mat-menu-item [routerLink]="['/repository//file-details']">
            <mat-icon>preview</mat-icon>
            View Details
        </li>
    </ul>
</mat-menu>
 <mat-menu #contextMenu3="matMenu" class="info-dropdown general-dropdown">
    <div class="  mb-2 pt-2 pb-2 border-bottom px-3"><span class="fw-bold">"folder 1"</span> sharing details </div>
    <div class="px-3 share-info-body">
        <div class="share-info">
            <div class="bold">
                Jone, Adam
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Jone, Adam
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Jone, Adam
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>

        <div class="share-info">
            <div class="bold">
               Agasthya, Udupi
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Jone, Mathew
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Anil, Kumar
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Anil, Kumar
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
        <div class="share-info">
            <div class="bold">
                Anil, Kumar
            </div>
            <div class="date">
                01/05/2022 3:30 PM to 01/05/2022 3:30 PM
            </div>
        </div>
    </div>
    <ul class="menu-lists border-top">
        <li mat-menu-item [routerLink]="['/repository//folder-details']">
            <mat-icon>preview</mat-icon>
            View Details
        </li>
    </ul>
</mat-menu>