<div class="table-responsive row-select-cursor">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table ellipsis"
       (matSortChange)="announceSortChange($event)">
       <ng-container matColumnDef="checkbox">
          <th style="width: 5%; min-width: 50px;" class="text-center" mat-header-cell *matHeaderCellDef>
             <mat-checkbox class="b-checkbox" (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </th>
          <td mat-cell class="text-center" *matCellDef="let element">
             <mat-checkbox class="b-checkbox" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
             </mat-checkbox>
          </td>
       </ng-container>

       <ng-container matColumnDef="userName">
          <th style="width: 20%; min-width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header
             sortActionDescription="Sort by User Name">
             User Name </th>
          <td class="" mat-cell *matCellDef="let element"><a href="javascript:void(0)" [routerLink]="['./../user-details']"> {{element.userName}} </a> </td>
       </ng-container>
       <ng-container matColumnDef="emailAddress">
          <th style="width:20%; min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
             sortActionDescription="Sort by folder"> Email Address </th>
          <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
       </ng-container>

       <ng-container matColumnDef="status">
          <th style="width:11%; min-width: 100px;" mat-header-cell *matHeaderCellDef mat-sort-header
             sortActionDescription="Sort by DateModified"> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
       </ng-container>
       <ng-container  matColumnDef="dateCreated">
          <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header
             sortActionDescription="Sort by ModifiedBy"> Date Created </th>
          <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
       </ng-container>
       <ng-container matColumnDef="lastLogin">
           <th style="width: 15%; min-width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
              sortActionDescription="Sort by ModifiedBy"> Last Login </th>
           <td mat-cell *matCellDef="let element"> {{element.lastLogin}} </td>
        </ng-container>
       <ng-container matColumnDef="gridListNav">
          <th class="grid-list-nav-td-th" style="width: 9%; min-width: 105px;" mat-header-cell *matHeaderCellDef> </th>
          <td class="grid-list-nav-td" mat-cell *matCellDef="let element">
             <div class="justify-content-end">

                <button mat-button class="icon-button" matTooltip="Delete">
                   <mat-icon aria-hidden="false">delete</mat-icon>
                </button>
                <button mat-button class="icon-button" [matMenuTriggerFor]="contextMenu" matTooltip=""
                   [id]="element.position" (click)="selctedMenuPosition(element);">
                   <mat-icon aria-hidden="false">more_vert</mat-icon>
                </button>

             </div>
          </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.active-row]="clickedRows.has(row)"
          (contextmenu)="onContextMenu($event, row)"
          [ngClass]="selectedPosition===row.position?'active-row':''" (click)="selection.toggle(row)"></tr>
    </table>
 </div>
 <div class="row mt-3">
    <div class="col-md-12">
       <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements">
       </mat-paginator>
    </div>
 </div>
  <!-- an hidden div is created to set the position of appearance of the menu--> 
  <div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" class="menu-dropdown general-dropdown" >
  <ul class="menu-lists">
     <li mat-menu-item [routerLink]="['./../user-details']">
        <mat-icon>preview</mat-icon>
        View Details
     </li>
  </ul>
</mat-menu>