<div class="card mb-4 mt-4">
    <div class="card-header bg-transparent">
        <div class="fw-bold p-2 ps-3">
            User Access
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-table ellipsis mat-table-bg-header">

                <ng-container matColumnDef="name">
                    <th mat-header-cell style="width: 30%; min-width: 150px;" *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by name"> User&nbsp;Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell style="width: 20%;min-width: 150px;" *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by access"> Role
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <ng-container matColumnDef="effectivefrom">
                    <th mat-header-cell style="width: 25%;min-width: 150px;" *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by effectivefrom">
                        Effective From </th>
                    <td mat-cell *matCellDef="let element"> {{element.effectivefrom}} </td>
                </ng-container>


                <ng-container matColumnDef="effectiveto">
                    <th mat-header-cell style="width: 25%;min-width: 150px;" *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by effectiveto">
                        Effective To </th>
                    <td mat-cell *matCellDef="let element"> {{element.effectiveto}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

    </div>
</div>