<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-block d-sm-none">
            <a mat-button class="icon-button back-btn" matTooltip="Back" [routerLink]="['../user-roles-privileges']">
                <mat-icon aria-hidden="false">arrow_back</mat-icon>
            </a>
        </li>
        <li class="breadcrumb-item flex-hide-sm">
            <a href="#" [routerLink]="['../user-roles-privileges']">Manage Roles</a>
            <mat-icon>navigate_next</mat-icon>
        </li>
        <li class="breadcrumb-item flex-hide-sm active" aria-current="page">New Role</li>
    </ol>
</nav>
<div class="title-block">
        <div class="main-icon">
            <mat-icon>manage_accounts</mat-icon>
        </div>
    <div class="flex-grow-1">
        <div class="title">
            New Role
        </div>
        <div class="title-info">
            Create a new role and assign privileges
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-9 col-lg-6">
            <div class="mb-4">
                <span class="text-danger"> * </span> indicates required field
            </div>
            <div class="app-input-group">
                <label>Role Name <span class="text-danger">*</span> </label>
                <mat-form-field class="app-input-element" appearance="fill" floatLabel="never">
                    <input matInput placeholder="Role Name">
                </mat-form-field>
            </div>
            <div class="app-input-group mb-4">
                <label>Description </label>
                <mat-form-field class="app-input-element  text-area" appearance="fill" floatLabel="never">
                    <textarea matInput placeholder="Enter description"></textarea>
                    <mat-hint align="end">1 / 100 characters</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card ">
                <div class="card-header bg-transparent">
                    <div class="fw-bold p-2 ps-3">
                        Privileges <span class="text-danger">*</span>
                        <h4 class="card-subtitle mt-1">Select the applicable permissions for the role</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive row-select-cursor tab-height-auto">
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                            class="mat-table ellipsis mat-table-bg-header">
                            <ng-container matColumnDef="checkbox">
                                <th style="width: 6%; min-width: 50px;" class="text-center" mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox class="b-checkbox" (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                                </th>
                                <td mat-cell class="text-center" *matCellDef="let element">
                                    <mat-checkbox class="b-checkbox" (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element) : null"
                                        [checked]="selection.isSelected(element)"></mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="permission">
                                <th mat-header-cell style="width: 35%; min-width: 150px;" *matHeaderCellDef
                                    mat-sort-header sortActionDescription="Sort by permission"> Permission </th>
                                <td mat-cell *matCellDef="let element" class="text-uppercase"> {{element.permission}} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell style="width: 59%; min-width: 150px;" *matHeaderCellDef
                                    mat-sort-header sortActionDescription="Sort by description"> Description
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="border-top mt-4">
                <div class="py-3  gap-2 xs-btn-group-g-2  d-md-flex justify-content-md-end">
                    <button mat-button class="secondary-button me-3 me-md-2"
                        [routerLink]="['../user-roles-privileges']">Cancel</button>
                    <button mat-button class=" primary-button " [routerLink]="['./../user-roles-privileges-details']">Create
                        Role</button>
                </div>
            </div>
        </div>
    </div>
</div>