<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item d-block d-sm-none">
          <a mat-button class="icon-button back-btn" matTooltip="Back" [routerLink]="['../repository']">
             <mat-icon aria-hidden="false">arrow_back</mat-icon>
          </a>
       </li>
       <li class="breadcrumb-item flex-hide-sm">
          <a href="#" [routerLink]="['../repository']">Repository 1</a>
          <mat-icon>navigate_next</mat-icon>
       </li>
       <li class="breadcrumb-item flex-hide-sm">
          <a href="#" [routerLink]="['../folder-view']">Folder 1</a>
          <mat-icon>navigate_next</mat-icon>
       </li>
       <li class="breadcrumb-item flex-hide-sm active" aria-current="page">Details</li>
    </ol>
  </nav>
  <div class="title-block">
    <div class="main-icon">
      <mat-icon class="folder-icon" style="color: gold;">folder</mat-icon>
    </div>
    <div class="flex-grow-1">
      <div class="title ">
        Folder 1
        <span class="ps-2">
          <mat-icon class="off" aria-hidden="false" matTooltip="Private" class="align-middle off">visibility_off</mat-icon>
        </span>
      </div>
      <div class="title-info">
        <div class="me-2 d-none d-sm-block">
        Created  by <span class="bold">Srikanta, Prakash</span> on <span class="bold">12/03/2021 11:50 AM</span>
        </div>
        <div class="d-flex mt-2 mt-sm-0">
          <span class="align-middle d-block d-sm-none me-1">
            <mat-icon matTooltip="Modified by Srikanta, Prakash on 12-03-2021 11:50 AM">info </mat-icon>
          </span>
          <span class="me-2">|</span>
          <span class="favorite ">
            <span (click)="favorite()"  [matTooltip]="isFavorite?'Remove Favorite':'Mark as Favorite'">
              <span class="favorite-btn">
                 <mat-icon class="align-middle" *ngIf="isFavorite">grade</mat-icon>
                 <mat-icon *ngIf="!isFavorite"  class="align-middle mark-favorite">star_outline</mat-icon>
              </span>
              <span class="flex-hide-sm flex-hide-md">Favorite</span>
           </span>
          </span>
        </div>
      </div>
    </div>
    <div class="title-nav-block">
      <ul class="nav justify-content-end">
      
        
        <li class="nav-item d-none d-sm-block">
          <button (click)="openShareDialog()" mat-button class="icon-button" matTooltip="Share">
            <mat-icon aria-hidden="false">share</mat-icon>
          </button>
        </li>
        <li class="nav-item d-none d-sm-block">
          <button mat-button class="icon-button" matTooltip="Download">
            <mat-icon>download</mat-icon>
          </button>
        </li>
        <li class="nav-item d-none d-sm-block">
          <button mat-button class="icon-button" matTooltip="Delete">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button class="icon-button" matTooltip="More" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu-dropdown general-dropdown" xPosition="before">
            <ul class="menu-lists title-nav-list">
           
             
              <li mat-menu-item (click)="openShareDialog()" class=" d-block d-sm-none">
                <mat-icon>share</mat-icon>
                Share To
              </li>
              <li mat-menu-item class=" d-block d-sm-none">
                <mat-icon>download</mat-icon>
                Download
              </li>
              <li mat-menu-item class=" d-block d-sm-none divider">
                <mat-icon>delete</mat-icon>
                Delete
              </li>
              <li mat-menu-item mat-menu-item (click)="openMoveCopyDialog()">
                <mat-icon>airline_stops</mat-icon>
                Move To
              </li>
              <li mat-menu-item (click)="openMoveCopyDialog()">
                <mat-icon>file_copy</mat-icon>
                Copy To
              </li>
            </ul>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
         
              <app-folder-details-comments></app-folder-details-comments>
              <app-folder-details-tab></app-folder-details-tab>
          
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2">
               <app-folder-detail-right-side-panel></app-folder-detail-right-side-panel>
      </div>
    </div>
  </div>