<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
   </ol>
</nav>
<div class="title-block">
   <div class="main-icon">
      <mat-icon>lock</mat-icon>
   </div>
   <div class="flex-grow-1">
      <div class="title">
         Change Password
      </div>
      <div class="title-info">
         Change your password for security reasons
      </div>
   </div>
</div>
<div class="content-wrapper">
   <div class="px-2">
      <div class="row g-3">
         <div class="col-md-6 col-lg-6 order-2 order-md-1 p-0">
            <div class="mb-4 mt-0 mt-md-2">
               <span class="text-danger"> * </span> indicates required field
            </div>
            <form>
               <div class="app-input-group">
                  <label>Current Password <span class="text-danger">*</span> </label>
                  <mat-form-field class="app-input-element password-input" floatLabel="never">
                     <input matInput id="password" [type]="currentPasswordtype" placeholder="Password" value="">
                     <button mat-button (click)="showCurrentPassword()" class="icon-button" [matTooltip]="currentPasswordtype==='password'?'Show Password':'Hide Password'">
                     <mat-icon *ngIf="currentPasswordtype==='password'">visibility</mat-icon>
                     <mat-icon *ngIf="currentPasswordtype!=='password'">visibility_off</mat-icon>
                     </button>
                  </mat-form-field>
               </div>
               <div class="app-input-group">
                  <label>New Password <span class="text-danger">*</span> </label>
                  <mat-form-field class="app-input-element password-input" floatLabel="never">
                     <input matInput id="password" [type]="newPasswordtype" placeholder="Password" value="">
                     <button mat-button (click)="showNewPassword()" class="icon-button" [matTooltip]="newPasswordtype==='password'?'Show Password':'Hide Password'">
                     <mat-icon *ngIf="newPasswordtype==='password'">visibility</mat-icon>
                     <mat-icon *ngIf="newPasswordtype!=='password'">visibility_off</mat-icon>
                     </button>
                  </mat-form-field>
               </div>
               <div class="app-input-group">
                  <label>Confirm Password <span class="text-danger">*</span> </label>
                  <mat-form-field class="app-input-element password-input" floatLabel="never">
                     <input matInput id="password" [type]="confirmPasswordtype" placeholder="Password" value="">
                     <button mat-button (click)="showConfirmPassword()" class="icon-button" [matTooltip]="confirmPasswordtype==='password'?'Show Password':'Hide Password'">
                     <mat-icon *ngIf="confirmPasswordtype==='password'">visibility</mat-icon>
                     <mat-icon *ngIf="confirmPasswordtype!=='password'">visibility_off</mat-icon>
                     </button>
                  </mat-form-field>
               </div>
               <div class="border-top">
                  <div class="gap-2 py-3 d-flex justify-content-end">
                     <button mat-button class=" primary-button ">Change Password</button>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-6 col-lg-6 p-0 order-1 ps-md-5 pt-md-5 order-md-2">
            <div class="pt-2 pt-md-1">
               <div class="rules-section mt-md-4">
                  <h4 class="small-title">Password must contain</h4>
                  <ul class="password-instruction">
                     <li>At least 8 characters</li>
                     <li>At least 1 upper case letter (A-Z)</li>
                     <li>At least 1 lower case letter (a-z)</li>
                     <li>At least 1 number (0-9)</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>