<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Empty Message</li>
    </ol>
  </nav>

  <div class="title-block">
   <div class="main-icon"> <mat-icon class="main-icon-font">fact_check</mat-icon></div>
   <div class="flex-grow-1">
      <div class="title">
         Empty Message
      </div>
      <div class="title-info">
         Sub headline
      </div>
   </div>
 </div>

 <!--Message when user doesnt have any files under folder-->
<div class="empty-state-ui-container">
    <div class="icon-container">
       <mat-icon>folder_off</mat-icon>
    </div>
    <h3>This folder is empty</h3>
    <p>Upload files here to keep it safe</p>
</div> 
<!--Message when there is no results-->
<div class="empty-state-ui-container">
   <div class="icon-container">
      <mat-icon>plagiarism</mat-icon>
   </div>
   <h3>No matching results</h3>
   <p>Please try a different search</p>
</div> 
<!--Message when there is no starred files-->
<div class="empty-state-ui-container">
   <div class="icon-container">
      <mat-icon>star</mat-icon>
   </div>
   <h3>No Favorites</h3>
   <p>All your favorite items will appear here </p>
</div>
<!--Message when there is no shared files-->
<div class="empty-state-ui-container">
   <div class="icon-container">
      <mat-icon>share</mat-icon>
   </div>
   <h3>Share files and folders</h3>
   <p>Let friends or colleagues view or even edit your files</p>
</div>
<!--Message when trash is empty-->
<div class="empty-state-ui-container">
   <div class="icon-container">
      <mat-icon>delete</mat-icon>
   </div>
   <h3>Your trash is empty</h3>
   <p>Deleted files will appear here</p>
</div>

<!--Message when there is no recent files-->
<div class="empty-state-ui-container">
   <div class="icon-container">
      <mat-icon>history</mat-icon>
   </div>
   <h3>No recent fies</h3>
   <p>Recently accessed files will appear here</p>
</div>