
   <div class="card-header row">
      <div class="col">
         <h2 class="card-title">New Repositories</h2>
         <h4 class="card-subtitle">Recently added for your access</h4>
      </div>
      <div class="col-auto">
         <a  href="javascript:void(0)" [routerLink]="['../user-repository']">View All</a>
      </div>
   </div>
   <div class="card-body">
 <ul class="list-group list-group-flush">
   <li class="list-group-item">
      <div class="file-name"> 
         <a href="javascript:void(0)" [routerLink]="['/repository']">Repository 1</a>
         <span class="ps-2">
            <mat-icon aria-hidden="false" matTooltip="Private" class="align-middle visibility-off">visibility_off</mat-icon>
         </span>
      </div>
      <div class="file-info">
         Created by <span class="bold">Srikanta, Prakash</span> on <span class="bold">12/03/2021 11:50
         AM </span>
      </div>
   </li>
   <li class="list-group-item">
      <div class="file-name">
         <a href="javascript:void(0)" [routerLink]="['/repository']">Repository 2</a>
         <span class="ps-2">
            <mat-icon aria-hidden="on"  matTooltip="Public" class="align-middle on">visibility</mat-icon>
         </span>
      </div>
      <div class="file-info">
         Created by <span class="bold">Srikanta, Prakash</span> on <span class="bold">12/03/2021 11:50
         AM </span>
      </div>
   </li>
   <li class="list-group-item">
      <div class="file-name">
         <a href="javascript:void(0)" [routerLink]="['/repository']">Repository 3</a>
         <span class="ps-2">
         <mat-icon aria-hidden="false" matTooltip="private" class="align-middle visibility-off">visibility_off</mat-icon>
         </span>
      </div>
      <div class="file-info">
         Created by <span class="bold">Srikanta, Prakash</span> on <span class="bold">12/03/2021 11:50
         AM </span>
      </div>
   </li>
</ul>
   </div>



