<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Metadata Templates</li>
    </ol>
 </nav>
 <div class="title-block">
    
    <div class="main-icon">
      <mat-icon>integration_instructions</mat-icon>
      </div>
    <div class="flex-grow-1">
       <div class="title ">
        Metadata Templates
       </div>
       <div class="title-info">
          List of all metadata templates
       </div>
    </div>
 
    <div class="title-nav-block">
      <ul class="nav justify-content-end">
         <li class="nav-item d-none d-sm-block">
            <button mat-button class="icon-button" matTooltip="Create New Metadata Template"
            [routerLink]="['../new-metadata-templates']">
            <mat-icon aria-hidden="false">add_circle_outline
            </mat-icon>
         </button>
          </li>
        <li class="nav-item d-none d-sm-block">
         <button mat-button class="icon-button" matTooltip="Delete">
            <mat-icon aria-hidden="false">delete</mat-icon>
         </button>
        </li>
        <li class="nav-item d-lg-none">
         <button mat-button class="icon-button" matTooltip="More" [matMenuTriggerFor]="moreMenu">
            <mat-icon>more_vert</mat-icon>
         </button>
         <mat-menu #moreMenu="matMenu" class="menu-dropdown general-dropdown">
            <ul class="menu-lists title-nav-list">
               <li mat-menu-item [routerLink]="['../new-metadata-templates']">
                  <mat-icon>add_circle_outline</mat-icon>
                  Create New Metadata Template
               </li>
               <li mat-menu-item [routerLink]="['./new-folder']">
                  <mat-icon>delete</mat-icon>
                  Delete
               </li>
            </ul>
         </mat-menu>
      </li>
     </ul>
       
    </div>
 </div>
 <div class="content-wrapper">
   <app-templates-list-view></app-templates-list-view>
 </div>
 
 
