<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Manage Roles </li>
   </ol>
</nav>
<div class="title-block">
   <div class="main-icon">
      <mat-icon>manage_accounts</mat-icon>
   </div>
   <div class="flex-grow-1">
      <div class="title ">
         Roles
      </div>
      <div class="title-info">
         List of all roles
      </div>
   </div>

   <div class="title-nav-block">
      <ul class="nav justify-content-end">
         <li class="nav-item d-none d-sm-block">
            <button mat-button class="icon-button" matTooltip="Create New Role" [routerLink]="['./../create-new-role']">
               <mat-icon aria-hidden="false">add_circle_outline
               </mat-icon>
            </button>
         </li>
         <li class="nav-item d-none d-sm-block">
            <button mat-button class="icon-button" matTooltip="Delete">
               <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
         </li>
         <li class="nav-item d-lg-none">
            <button mat-button class="icon-button" matTooltip="More" [matMenuTriggerFor]="moreMenu">
               <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu" class="menu-dropdown general-dropdown">
               <ul class="menu-lists title-nav-list">
                  <li mat-menu-item class=" d-block d-sm-none" [routerLink]="['./../create-new-role']">
                     <mat-icon>add_circle_outline</mat-icon>
                     Create New Role
                  </li>
                  <li mat-menu-item class="d-block d-sm-none ">
                     <mat-icon>delete</mat-icon>
                     Delete
                  </li>
               </ul>
            </mat-menu>
         </li>
      </ul>
   </div>
</div>
<div class="content-wrapper">
   <div class="row">
      <div class="col-12">
         <app-roles-privileges-list-view></app-roles-privileges-list-view>
      </div>
   </div>
</div>