<div class="footer">
   <div class="row">
      <div class="col">
         © Copyright 
         <ul class="foot-menu">
            <li><a href="javascript:void(0)" (click)="TermsConditions()">Terms & Conditions</a></li>
            <li><a href="javascript:void(0)" (click)="contact()">Contact Us</a></li>
            <li><a href="javascript:void(0)" (click)="releaseNotes()">06/13/2022</a></li>
         </ul>
      </div>
      <div class="col-auto text-end">
         <img alt="Logo" class="footer-logo" src="assets/images/logo/qdoc-logo.png">
      </div>
   </div>
   
</div>
    